body {
  padding-top: 0px;
  background-color: #a7a7a7;
}
.wb{
  padding: 40px 15px;
  text-align: center;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

<style> 
	p {margin-top:1em;} 
	h1{margin-bottom:1em;margin-top:1em;} 
</style>