body {
  padding-top: 50px;
  background-color: #a7a7a7;
}
.wb{
  padding: 40px 15px;
  text-align: center;
}
<style> 
	p {margin-top:1em;} 
	h1{margin-bottom:1em;margin-top:1em;} 
</style>