body { 
    padding-top: 0px; 
    background-color: #a7a7a7;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}